@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blur {
  0% { filter: blur(0.25px); }
  50% { filter: blur(0.5px); }
  100% { filter: blur(0.25px); }
}

.ink-bleed {
  animation: blur 5s infinite;
  text-shadow: 0 0 1px currentColor;
}

.ink-bleed-input {
  animation: blur 5s infinite;
  text-shadow: 0 0 1px currentColor;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}